# Project information
site_name: Playroom-cloud
site_url: https://github.com/playroom-security
site_author: playroom security
site_description: Playroom-cloud is platform for building Next-Gen Cloud/AI security engineers with real world cloud projects and methodology.

# Repository
repo_name: playroom cloud-security
repo_url: https://github.com/playroom-security

# Configurations
theme:
  name: material
  custom_dir: material/overrides
  font:
    text: Roboto
    code: Roboto Code
  logo: assets/play-sec.png
  favicon: assets/favicon.ico
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: brown
      accent: pink
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: purple
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

# Plugins
plugins:
  - blog
  - glightbox
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'

# Hooks
hooks:
  - material/overrides/hooks/shortcodes.py
  - material/overrides/hooks/translations.py 

  # Additional configuration
extra:
  status:
    new: Recently added
    deprecated: Deprecated
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/canyakora1
    - icon: fontawesome/brands/medium
      link: https://medium.com/@dcyberguy6
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/chinedu-anyakora-32025294/
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/playroomsec

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: playroom security
      repo: playroom-security-cloud
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

not_in_nav: |
  /programming/**/*.md

# Page tree
nav:
  - Welcome: index.md
  - Blog:
    - blog/index.md
    
  - Cloud Security Roadmap:
    - cloud-security-roadmap/index.md
    - cloud-security-roadmap/cloud-security.md
    - cloud-security-roadmap/cloud-compliance.md
    - cloud-security-roadmap/cloud-basics.md
    - cloud-security-roadmap/linux-basics.md
    - cloud-security-roadmap/identity-access-management.md
    - cloud-security-roadmap/secure-networking.md
    - cloud-security-roadmap/data-protection.md
    - cloud-security-roadmap/secure-containerization.md
    - cloud-security-roadmap/cloud-security-certs.md
  - Programming:
    - "Scripting":
      - programming/getting-started-with-scripting.md
      - Bash:
        - programming/Bash/bash.md
        - programming/Bash/advanced-bash.md
      - Go:
        - programming/Go/go.md
        - programming/Go/advanced-go.md
      - Python3:
        - programming/Python3/getting-started-with-python3.md
        - programming/Python3/advanced-python3.md
      - Powershell:
        - programming/Powershell/getting-started-with-powershell.md
      - Node-JS:
        - programming/Node-JS/getting-started-with-node-js.md
  - Infrastructure-as-Code (IAC):
    - "IAC":
      - Infrastructure-as-Code/index.md
      - Terraform:
        - Infrastructure-as-Code/terraform/getting-started-with-terraform.md
        - Infrastructure-as-Code/terraform/advanced-terraform.md
  - AWS: 
    - AWS Free Tier: AWS/aws-free-tier.md
    - Protecting the Root User: AWS/root-user.md
    - Using the AWS CLI: AWS/aws-cli.md
    - AWS Cloud Projects:
      - AWS/projects/projects.md
      - Basic:
        - AWS/projects/basic/three-tier-architecture.md
        - AWS/projects/basic/static-website-hosting.md
      - Intermediate:
        - AWS/projects/Intermediate/index-1.md
        - AWS/projects/Intermediate/index-2.md
        - AWS/projects/Intermediate/index-3.md
        - AWS/projects/Intermediate/index-4.md
        - AWS/projects/Intermediate/index-5.md
      - Expert:
        - AWS/projects/expert/advanced-iam-roles.md
  - Azure: Azure/azure.md
  - GCP: GCP/gcp.md
  - Kubernetes: Kubernetes/k8s.md
  - Hacking The Cloud: Hacking The Cloud/hacking-the-cloud.md
copyright: Copyright &copy; 2026 Playroom Security Inc


  
